@use '../../styles/mediaQueries.modules.scss';

.login{
    width: 100%;
    display: flex;
    height: 100vh;
    overflow: hidden;
    
    select{
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 5;
    }
>div{
    width: 52%;
    height: 100%;
    background-color: #cb7402;
    &.form{
        overflow-y: scroll;
        width: 48%;
        background-color: #cb740208;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mediaQueries.for-tablet-landscape-up{
            width: 100%;
            justify-content: center;
        }
        div{
            width: 300px;
            display: flex;
            flex-direction: column;
        }
        >img{
            margin-top: 40px;
            width: 150px;
        }
        .oidc{
            height: min-content;
            margin-top: 80px;
            button{
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                background-color: white;
                border: 1px solid #dddde6;
                border-radius: 5px;
                box-shadow: 0px 1px 1px 0px rgba(128, 128, 128, 0.201);
                height: 50px;
                padding: 10px;
                margin-bottom: 10px;
                font-size: medium;
                .oidc_icon{
                    position: absolute;
                    left: 15px;
                    bottom: 15px;
                    width: 20px;
                }
            }

        }
        .or{
            color: grey;
            display: flex;
            flex-direction: row;
            height: 40px;
            align-items: center;
            margin-bottom: 10px;

            &::after, &::before{
                content: '';
                flex-grow: 1;
                height: 1px;
                background-color: grey;
            }
            &::after{
                margin-left: 2rem;
            }
            &::before{
                margin-right: 2rem;
            }
        }
        .inputContainer{
            div{
                position: relative;
                input{
                    box-sizing: border-box;
                    border: 1px solid #dddde6;
                    height: 50px;
                    padding-left: 15px;
                    width: 100%;
                    border-radius: 4px ;
                    &:first-of-type{
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                    &:nth-of-type(2){
                        border-top: none;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }
                }
                .pass_icon{
                    color: grey;
                    position: absolute;
                    right: 10px;
                    top: 18px;
                    cursor: pointer;
                }
            }
            
            button{
                cursor: pointer;
                height: 50px;
                border: 1px solid #dddde6;
                margin-top: 20px;
                border-radius: 4px ;
                background-color: #cb7402;
                font-size: medium;
                color: black;
                transition: 0.3s;
                &:hover{
                    background-color: #cb7402e8;
                }
            }
        }
        .noAccount{
            display: flex;
            flex-direction: row;
            justify-content: center;
            p{
                width: fit-content;
                color: rgba(128, 128, 128, 0.589);
                font-size: small;
                a{
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    &:hover{
                        color: #cb7402;
                        text-decoration: underline;
                    }
                }
            }

        }
        .footer{
            width: 100%;
            padding: 20px;
            padding-top: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            box-sizing: border-box;
            // border: 1px solid black;
            a{
                text-decoration: none;
                color: rgba(128, 128, 128, 0.541);
                font-size: small;
                font-weight: 600;
                @include mediaQueries.for-tablet-landscape-up{
                    margin-right: 15px;
                }
                @include mediaQueries.for-phone-only{
                    margin-right: 20px;
                    text-decoration: underline;
                }
            }
            @include mediaQueries.for-tablet-landscape-up{
                position: absolute;
                bottom: 0px;
                justify-content: center;
            }
            @include mediaQueries.for-phone-only{
                flex-wrap: wrap;

            }
        }
    }
    &.wallpaper{
        display: flex;
        flex-direction: column;
        color: white;
        padding: 80px;
        position: relative;
        @include mediaQueries.for-tablet-landscape-up{
            display: none;
        }
        
        h1{
            margin: 0;
            padding-top: 0;
        }
        p{
            font-size: large;
            color: rgba(255, 255, 255, 0.612);
        }
        img{
            margin-left: 10%;
            width: 450px;
            // border: 1px solid black;
        }
        a{
            // margin-top: auto;
            align-self: baseline;
            color: white;
            text-decoration: none;
            border: 1px solid white;
            padding: 15px 50px;
            width: fit-content;
            border-radius: 4px;
            &:hover{
                transition: 0.2s;
                border: 1px solid rgba(255, 255, 255, 0.612);
            }
        }
        >div{
            width: 450px;
            // border: 1px solid red;
            height: 251px;
            position: fixed;
            top: 206px;
            left: 53%;
            div{
                width: 200px;
                // border: 1px solid black;
                background-color: #cb7402;
                height: 60px;
                position: relative;
                top: 4px;
                left: 41px;
                margin: 32px 0;
                .contract_text{
                    border: 1px solid white;
                    border-radius: 10px;
                    padding: 3px 10px;
                    color: white;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    margin: 0;
                    font-weight: 500;
                    width: fit-content;
                    font-size: xx-large;
                    background-color: #cb7402;
                    z-index: 2;
                    // border: 1px solid black;
                    display: flex;
                    align-items: center;
                    // left: 28%
                }
            }

        }
    }
}
}