
.container{
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: space-between;
    >div{
        // border: 1px solid black;
        width: 48%;
        height: 100%;
        
        &.firstHalf{
            hr{
                // color: red;
                opacity: 0.1;
                height: 1px;
            }
            >*{
                background-color: white;
                // border: 1px solid red;
                margin-bottom: 20px;
                
            }
            .indicate{
                border-radius: 10px;
                width: 100%;
                height: 70px;
                padding:  10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // *{
                //     border: 1px solid red;
                // }
                div:first-of-type{
                    height: 40px;
                    border-radius: 20px;
                    width: 120px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    background-color: #e6f7ff;
                    span{
                        width: 10px;
                        height: 10px;
                        border-radius: 100px;
                        background-color: #09afff;
                    }
                    p{
                        font-size: small;
                    }
                }
                div:nth-of-type(2){
                    width: 150px;
                    p{
                        font-size: medium;
                        color: #778ca2;
                        text-align: left;
                    }
                }
                div:nth-of-type(3){
                    
                    button{
                        background-color: transparent;
                        border: none;
                        width: 100px;
                        text-transform: uppercase;
                        color: #7c8496;
                        font-weight: 600;
                        font-size: 10px;
                        text-align: left;
                    }
                }
            }
            .info{
            padding: 30px;
            width: 100%;
            min-height: 300px;
            margin-bottom: 0;
            p{
            }
            .user{
                display: flex;
                justify-content: space-between;
                div:first-of-type{
                    width: 300px;
                    font-size: small;
                    margin-bottom: 10px;
                    p:nth-of-type(2){
                        width: 200px;
                    }
                }
                div:last-of-type{
                    text-align: center;
                    width: 200px;
                    h5{
                        font-size: x-small;
                        text-transform: uppercase;
                        color: grey;
                    }
                }
                
            }   
            .facture{
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                h3{
                    font-size: large;
                    font-weight: 500;
                }
                span{
                    font-size: medium;
                }
            }
            .partnerInfo{
                display: flex;
                justify-content: flex-end;
                padding-bottom: 20px;
                div{
                    width: 200px;
                    line-height: 1.2;
                    font-size: small;
                    label{
                        font-weight: 500;
                        color: #667085;
                    }
                    >p{
                        font-size: medium;
                    }
                    span{
                        display: flex;
                        p{
                            color: black;
                        }
                    }
                }
            }
            .factureInfo{
                display: flex;
                justify-content: space-between;
                strong{
                    font-size: small;
                    color: #667085;
                    height: 20px;
                    line-height: 1;
                    padding: 0;
                    word-wrap: break-word;
                }
                p{
                    font-size: small;
                    
                }
            }
        }
        .total{
            width: 100%;
            height: 700px;
            .article{
                width: 100%;
                height: 50px;
                padding: 0 30px;
                background-color: #babbbc;
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                    font-size: x-small;
                    text-transform: uppercase;
                }
                div{
                    display: flex;
                    width: 200px;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                }
            }
            .productList{
                width: 100%;
                height: 50px;
                padding: 0 30px;
                display: flex;
                align-items: center;
                border-bottom: 0.5px solid #d0d8e1;
                justify-content: space-between;
                p{
                    font-size: small;
                    text-transform: uppercase;
                    &:first-of-type{
                        font-size: x-small;
                        span{
                            margin-right: 5px;
                            font-size: x-small;
                        }
                    }
                }
                div{
                    display: flex;
                    width: 200px;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                }

            }
        }
        }

        &.secondHalf{
            display: flex;
            flex-direction: column;
            align-items: center;
            .logoContainer{
                img{
                    width: 100px;
                    padding: 0 10px;
                }
                cursor: initial;
            }
            >div{
                cursor: pointer;
                // border: 1px solid green;
                border-radius: 5px;
                background-color: white;
                width: 100%;
                height: 60px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                position: relative;
                >.listNumber{
                    padding: 0 10px;
                    color: #c1c7d1;
                    font-weight: 600;
                    font-size: 25px;
                }
                >.label{
                    font-size: medium;
                }
                >.icon{
                    position: absolute;
                    right: 10px;
                    color: #c1c7d1;

                }
                &.clicked{
                    background-color: black;
                    color: white;
                    >.listNumber{
                        color: white;
                    }
                    >.icon{
                        color: white;
                    }
                }


            &.nouveau{
                height: fit-content;
                background-color: #eff8ff;
                padding: 20px;
                border: 1px solid #5eaafb;
                justify-content: space-between;
                cursor: initial;
                .iconContainer{
                    background-color: #d1e9ff;
                    border-radius: 100px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    color: #5eaafb;
                }
                div{
                    width: 300px;
                    font-size: small;
                    b{
                        position: relative;
                        &::after{
                            content: "Nouveau";
                            position: absolute;
                            font-weight: 400;
                            padding: 0 5px;
                            border-radius: 5px;
                            top: -3px;
                            right:  -70px;
                            color: #157d5e;
                            background-color: #e6f7f2;
                        }
                    }
                }
            }
            &.hide{
                display: none;
            }
            &.searchBox{
                display: flex;
                cursor: initial;
                justify-content: center;
                align-items: center;
                height: 90px;
                position: relative;
                bottom: 22px;
                border-radius: initial;
                margin-bottom: 0;
                >div{
                    width: 97%;
                    display: flex;
                    position: relative;
                    padding: 0 20px;
                    align-items: center;
                    height: 85%;
                    background-color: #f2f4f7;
                    .inputIcon{
                        color: #8ea0b2;
                        position: relative;
                        right: 30px;
                        font-size: x-large;
                    }
                    input{
                        width: 300px;
                        height: 50px;
                        border: 1px solid #d0d5dd;
                        border-radius: 5px;
                        padding: 0 10px;
                        &::placeholder{
                            color: #a8aeb5;
                        }
                    }
                    >.button{
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 200px;
                        background-color: #6053fb;
                        color: white;
                        padding: 20px;
                        cursor: pointer;
                        // font-size: x-large !important;
                        .buttonIcon{
                            
                            font-size: 25px !important;
                            // background-color: #fff;
                        }
                    }
                }
            }
            &.displayClient{
                display: flex;
                flex-direction: column;
                cursor: initial;
                // padding: 10px 0;
                justify-content: center;
                align-items: center;
                height: 90px;
                position: relative;
                bottom: 22px;
                border-radius: initial;
                margin-bottom: 0;

                >div{
                    width: 97%;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    padding: 20px;
                    // align-items: center;
                    justify-content: space-between;
                    height: 85%;
                    background-color: #f2f4f7;
                    >p{
                        font-size: small;
                        color: black;
                        font-weight: 100;
                    }
                    >div{
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        position: relative;
                        >div{
                            display: flex;
                            >span{
                                height: 10px;
                                margin-right: 10px;
                                width: 5px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: fit-content;
                                // border: 1px solid black;
                                .editIcon{
                                    cursor: pointer;
                                    &:hover{
                                        color: black !important;
                                    }
                                }
                                // border: 1px solid black;
                                p{
                                    color: black;
                                    font-size: small;
                                    font-weight: 400;
                                    position: absolute;
                                    left: 0;
                                }
                                .deleteIcon{
                                    cursor: pointer;
                                    &:hover{
                                        color: #f03f3f !important;
                                    }
                                }
                                &:hover{
                                    p{
                                        color: #f03f3f !important;
                                    }
                                }

                            }
                        }
                    }

                }
                
            }
            &.displayProduct{
                height: 200px;
                position: relative;
                border-radius: initial;
                bottom: 25px;
                padding: 5px;
                >div{
                    height: 100%;
                    width: 100%;
                    border: 1px solid #d0d8e1;
                    border-radius: 5px;
                    padding: 20px;
                    hr{
                        border: 0.5px solid #d0d8e1;
                        color: #d0d8e1;
                    }
                    .firstRow{
                        width: 100%;
                        display: flex;
                        position: relative;
                        margin-bottom: 20px;
                        .quantity{
                            display: flex;
                            width: min-content;
                            margin-right: 20px;
                            span{
                                height: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 50px;
                                border: 1px solid #d0d8e1;
                            }
                        }
                        .info{
                            p:first-of-type{
                                font-size: medium;
                            }
                            p:last-of-type{
                                font-size: small;
                                color: grey;
                            }
                        }
                        .DPicon{
                            position: absolute;
                            right: 0;
                        }
                    }
                    .secondRow{
                        display: flex;
                        align-items: center;
                        padding: 20px 0;
                        justify-content: space-between;
                        .info{
                            display: flex;
                            align-items: center;
                            p:first-of-type{
                                font-size: small;
                                margin-right: 5px;
                            }
                            p:last-of-type{
                                font-size: small;
                                color: grey;
                            }
                        }
                        .function{
                            // width: 30%;
                            display: flex;
                            align-items: center;
                            .icon{
                                margin-right: 20px;
                            }
                            >span{
                                display: flex;
                                align-items: center;
                                p{
                                    color: #37bb93;
                                    font-size: small;
                                    text-transform: uppercase;
                                }
                                .checkIcon{
                                    font-size: medium;
                                    text-transform: initial;
                                    background-color: #37bb93;
                                    border-radius: 200px;
                                    color: white;
                                }
                            }
                            .button{
                                font-size: 16px;
                                // width: 200px;
                                border: none;
                                border-radius: 10px;
                                text-align: center;
                                padding: 10px 20px;
                                color: #fff;
                                background-color: #6610f2;
                                
                                &:hover{
                                    background-color: #473db9;
                                }
                            }
                        }
                    }
                }
            }
            &.livraison{
                padding: 0;
                height: 80px;
                display: flex;
                position: relative;
                bottom: 27px;
                justify-content: center;
                align-items: center;
                margin-bottom: 0;
                background-color: white;
                div{
                    width: 97%;
                    height: 85%;
                    border: 0.5px solid rgba(128, 128, 128, 0.423);
                    border-radius: 10px;
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p{
                        font-size: medium;
                    }
                    >span{
                        display: flex;
                        align-items: center;
                        p{
                            color: #37bb93;
                            font-size: small;
                            text-transform: uppercase;
                        }
                        .addIcon{
                            font-size: medium;
                            text-transform: initial;
                            background-color: #37bb93;
                            border-radius: 200px;
                            color: white;
                        }
                    }
                }
            }
            &.liv_et_payment{
                height: auto;
                position: relative;
                bottom: 27px;
                margin-bottom: 0;
                form{
                    >div{
                        padding: 0 20px;
                        hr{
                            display: none;
                            height: 0.5px;
                            opacity: 0.2;
                        }
                    }
                    h3{
                        font-size: medium;
                        padding: 20px;
                        font-weight: 400;
                    }
                    .formControl{
                        padding: 20px;
                        .formLabel{
                            font-size: small;
                            // color: black;
                        }
                        .formGroup{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            .formControlLabel{
                                width: 45%;
                                span{
                                    font-weight: 500;
                                    // color: #7b809a;
                                }
                            }
                        }
                    }

                }
            }
            }
            >button{
                font-size: 16px;
                width: 90%;
                border: none;
                border-radius: 10px;
                text-align: center;
                padding: 15px 0;
                color: #fff;
                background-color: #6610f2;
                &:hover{
                    background-color: #473db9;
                }
            }
        }
    }
}